.footer-label {
   font-weight: 700;
   font-size: 18px;
   line-height: 23 / 18 * 100%;
   color: $white;
   text-transform: uppercase;
}
.footer-link {
   display: flex;
   font-size: 14px;
   line-height: 160%;
   color: #bdbdbd;
   transition: all 0.3s ease 0s;
   @media (any-hover: hover) {
      &:hover {
         color: $red;
      }
   }
   @media (max-width: $md3+px) {
      font-size: 16px;
      margin-bottom: 5px;
   }
   @media (max-width: $md4+px) {
      font-size: 20px;
   }
}

.footer {
   &__wrapper {
      @include adaptiv-value("padding-top", 110, 40, 1);
      padding-bottom: 45px;
      background-color: $blue;
   }

   &__container {
   }

   &__body {
   }

   &__top {
      display: flex;
      justify-content: space-between;
      margin: 0px -10px;
      @include adaptiv-value("margin-bottom", 65, 35, 1);
      @media (max-width: $md3+px) {
         @include adaptiv-value("margin-bottom", 30, 15, 1);
         flex-wrap: wrap;
      }

      @extend .no-anim;
      transition: all 0.5s ease 0s;
      &._animate {
         @extend .anim;
      }
   }
   &__bottom {
      display: flex;
      justify-content: space-between;
      margin: 0px -10px;
      @include adaptiv-value("margin-bottom", 65, 35, 1);
      @media (max-width: $md3+px) {
         flex-wrap: wrap;
      }

      @extend .no-anim;
      transition: all 0.5s ease 0s;
      &._animate {
         @extend .anim;
      }
   }
   &__copy {
      @extend .no-anim;
      transition: all 0.5s ease 0s;
      &._animate {
         @extend .anim;
      }
   }
}
.top-footer {
   &__column {
      padding: 0px 10px;
      flex: 0 1 25%;
      margin: 0px 0px 30px 0px;
      @media (max-width: $md4+px) {
         margin: 0px;
      }
      &_1 {
         @media (max-width: $md2+px) {
            flex: 0 1 20%;
         }
         @media (max-width: $md3+px) {
            flex: 0 1 50%;
         }
      }
      @media (max-width: $md4+px) {
         flex: 1 1 100%;
      }
      &_2 {
         @media (max-width: $md3+px) {
            flex: 0 1 50%;
         }
      }
      @media (max-width: $md4+px) {
         flex: 1 1 100%;
      }
      &_3 {
         flex: 1 1 auto;
         @media (max-width: $md3+px) {
            flex: 0 1 50%;
         }
      }
      @media (max-width: $md4+px) {
         flex: 1 1 100%;
      }
      &_4 {
         flex: 0 1 225 / 1100 * 100%;
         @media (max-width: $md3+px) {
            flex: 0 1 50%;
         }
      }
      @media (max-width: $md4+px) {
         flex: 1 1 100%;
      }
   }

   &__logo {
      display: flex;
      @media (min-width: $md3+px) {
         margin: 30px 0px 0px 0px;
      }
      img {
         max-width: 100%;
      }
      @media (max-width: $md4+px) {
         margin: 0px 0px 40px 0px;
         img {
            max-width: 100px;
         }
      }
   }

   &__label {
      margin-bottom: 15px;
      @media (max-width: $md4+px) {
         margin-bottom: 20px;
      }
      &_social {
         margin-bottom: 0;
         @include adaptiv-value("margin-right", 45, 30, 1);
         @media (max-width: $md4+px) {
            margin-right: 0;
            margin-bottom: 20px;
         }
      }
      @media (max-width: $md4+px) {
         position: relative;
         padding: 0px 30px 0px 0px;
         @media (max-width: $md3+px) {
            &::after {
               content: "";
               width: 16px;
               height: 2px;
               background-color: $white;
               position: absolute;
               top: 50%;
               right: 0;
               transition: all 0.3s ease 0s;
               transform: translate(0px, -50%);
            }
            &::before {
               content: "";
               width: 2px;
               height: 16px;
               background-color: $white;
               position: absolute;
               top: 50%;
               right: 7px;
               transition: all 0.3s ease 0s;
               transform: translate(0px, -50%);
            }
         }
         &._active {
            &::before {
               height: 0;
               background-color: $red;
            }
            &::after {
               background-color: $red;
            }
         }
      }
   }

   &__list {
      @media (max-width: $md4+px) {
         margin: 0px 0px 20px 0px;
      }
   }

   &__link {
   }

   &__socials {
      @media (min-width: $md4+px) {
         margin: 25px 0px 0px 0px;
         display: flex;
         align-items: center;
      }
      .top-footer__list {
         display: flex;
      }
   }

   &__social-item {
      font-size: 24px;
      color: #bdbdbd;
      transition: all 0.3s ease 0s;
      &:not(:last-child) {
         margin: 0px 10px 0px 0px;
      }
      @media (any-hover: hover) {
         &:hover {
            color: $red;
         }
      }
      @media (max-width: $md3+px) {
         font-size: 28px;
      }
      @media (max-width: $md4+px) {
         font-size: 32px;
      }
   }
}

.bottom-footer {
   &__column {
      flex: 0 1 50%;
      padding: 0px 10px;
      margin: 0px 0px 30px 0px;
      @media (max-width: $md3+px) {
         margin: 0px 0px 20px 0px;
         flex: 1 1 100%;
      }
   }

   &__info {
   }

   &__label {
      margin-bottom: 25px;
   }

   &__text {
      font-size: 14px;
      line-height: 160%;
      color: #bdbdbd;
      margin-bottom: 25px;
   }

   &__address {
      @media (max-width: $md4+px) {
         font-size: 18px;
      }
      margin-bottom: 25px;
      align-items: center;
      &::before {
         margin: 0px 18px 0px 0px;
         font-size: 19px;
         flex: 0 0 25px;
         display: inline-flex;
         justify-content: center;
         align-items: center;
         @media (max-width: $md4+px) {
            display: none;
         }
      }
   }

   &__phones {
      display: flex;
      margin-bottom: 25px;
      @media (max-width: $md3+px) {
         margin-bottom: 0;
      }
      &::before {
         margin: 0px 18px 0px 0px;
         font-size: 23px;
         flex: 0 0 25px;
         color: #bdbdbd;
         display: inline-flex;
         justify-content: center;
         @media (max-width: $md4+px) {
            display: none;
         }
      }
   }
   &__phone-inner {
   }

   &__number {
      @media (max-width: $md4+px) {
         font-size: 18px;
      }
   }

   &__mail {
      @media (max-width: $md4+px) {
         font-size: 18px;
      }
      align-items: center;
      &::before {
         margin: 0px 18px 0px 0px;
         font-size: 13px;
         flex: 0 0 25px;
         display: inline-flex;
         justify-content: center;
         align-items: center;
         @media (max-width: $md4+px) {
            display: none;
         }
      }
   }

   &__form {
   }

   &__row {
      display: flex;
      justify-content: space-between;
      margin: 0px -15px 15px -15px;
      @media (max-width: $md2+px) {
         margin: 0px -10px 15px -10px;
      }
      @media (max-width: $md4+px) {
         flex-wrap: wrap;
         margin: 0;
      }
   }

   &__inp {
      flex: 0 1 50%;
      padding: 0px 15px;
      @media (max-width: $md2+px) {
         padding: 0px 10px;
      }
      @media (max-width: $md4+px) {
         flex: 1 1 100%;
         padding: 0;
         margin-bottom: 15px;
      }
   }

   &__input {
      min-height: 50px;
   }

   &__textarea {
      margin: 0px 0px 20px 0px;
      min-height: 125px;
   }

   &__bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   &__btn {
      margin: 0px 20px 0px 0px;
      min-height: 50px;
      min-width: 160px;
   }

   &__tip {
      font-weight: 700;
      @extend .text_3;
      color: #e0e0e0;
   }
}

.copy-footer {
   &__body {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      @media (max-width: $md3+px) {
         padding-bottom: 20px;
      }
   }

   &__licence {
      @extend .text_3;
      color: $white;
      margin: 0px 5px;
      transition: all 0.3s ease 0s;
      @media (any-hover: hover) {
         &:hover {
            color: $red;
         }
      }
   }

   &__pay {
      position: absolute;
      bottom: 0;
      width: 136px;
      right: 0;
      @media (max-width: $md3+px) {
         right: 50%;
         transform: translate(50%, 100%);
      }
      img {
         max-width: 100%;
      }
   }
}
