@font-face {
	font-family: "icons";
	font-display: swap;
	src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2#icons") format("woff2");
	font-weight: normal;
	font-style: normal;
	font-display: block;
}
%ic {
	font-family: "icons";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class^="_icon-"],
[class*=" _icon-"] {
	&:before,
	&::after {
		@extend %ic;
		display: block;
	}
}

._icon-star:before {
	content: "\e900";
}
._icon-search:before {
	content: "\e901";
}
._icon-shopping-cart:before {
	content: "\e902";
}
._icon-star-stroke:before {
	content: "\e903";
}
._icon-present:before {
	content: "\e904";
}
._icon-message:before {
	content: "\e905";
}
._icon-phoneBold:before {
	content: "\e906";
}
._icon-mapBold:before {
	content: "\e907";
}
._icon-inst:before {
	content: "\e908";
}
._icon-yt:before {
	content: "\e909";
}
._icon-fb:before {
	content: "\e90a";
}
._icon-arrow:before {
	content: "\e90b";
}
._icon-quotesClose:after {
	content: "\e90c";
}
._icon-quotesOpen:before {
	content: "\e90d";
}
._icon-map:before {
	content: "\e90e";
}
._icon-schedule:before {
	content: "\e90f";
}
._icon-tick:before {
	content: "\e910";
}
._icon-phone:before {
	content: "\e911";
}
._icon-home:before {
	content: "\e912";
}
._icon-user:before {
	content: "\e913";
}
._icon-down::after {
	content: "\e914";
}
