//<ОСНОВНОЙ БЛОК>====================================================================================================
.text_1 {
	font-size: 10px;
	line-height: 13 / 10 * 100%;
}

.text_2 {
	font-size: 14px;
	line-height: 18 / 14 * 100%;
}

.text_3 {
	font-size: 12px;
	line-height: 15 / 12 * 100%;
}

.h1 {
	font-weight: 700;
	font-size: 24px;
	line-height: 30 / 24 * 100%;
}
.no-anim {
	visibility: hidden;
	opacity: 0;
}
.anim {
	visibility: visible;
	opacity: 1;
}
//</ОСНОВНОЙ БЛОК>====================================================================================================

//====================================================================================================
._ibg {
	position: relative;
	img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}
body.ie {
	._ibg {
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}
	._ibg img {
		width: 0;
		height: 0;
		opacity: 0;
		visibility: hidden;
	}
}
//====================================================================================================
._video {
	position: relative;
	overflow: hidden;
	height: 0;
	video,
	iframe,
	object,
	embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
.videobg {
	video,
	iframe,
	object,
	embed {
		position: fixed;
		top: 50%;
		left: 50%;
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		z-index: -100;
		transform: translateX(-50%) translateY(-50%);
		background-size: cover;
	}
}

/* Лента слайдов */
.slick-track {
	display: flex;
}
/* Элемент точки */
.slick-dots li button {
	font-size: 0;
}

//=====================================================================================================================
._tabs {
}
._tabs-item {
}
._tabs-block {
	display: none;
	&._active {
		display: block;
	}
}
