//<BUTTONS (a.btn+tab)>
// Снипет (HTML): btn

.btn {
    display: inline-flex;
    padding: rem(5) rem(15);
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease 0s;
    @extend %text_2;
    font-family: "Nunito";
    font-weight: 600;
    background-color: $red;
    color: $white;
    border: rem(2) solid $red;
    border-radius: rem(4);
    @media (any-hover: hover) {
        &:hover {
            background-color: transparent;
        }
    }
}
