//<INPUT>
// Снипет (HTML): inp
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.input {
    @extend %text_3;
    color: $grey2;
    width: 100%;
    display: block;
    border-radius: rem(4);
    padding: rem(17) rem(25);
    transition: color 0.3s ease 0s;
    &:focus-visible {
        outline-offset: rem(-1);
        outline: white solid rem(1);
    }
    &._form-focus {
    }
    &._form-error {
        color: red;
    }
}
textarea.input {
    resize: none;
    padding: 0px 0px;
}
