.footer-label {
    font-weight: 700;
    font-size: rem(18);
    line-height: math.div(23, 18);
    color: $white;
    text-transform: uppercase;
}

.footer-link {
    display: flex;
    line-height: 160%;
    color: $grey2;
    transition: color 0.3s ease 0s;
    @media (any-hover: hover) {
        &:hover {
            color: $red;
        }
    }
    @media (max-width: $mobile) {
        font-size: rem(16);
        margin-bottom: rem(5);
    }
    @media (max-width: $mobileSmall) {
        font-size: rem(20);
    }
}

//========================================================================================================================================================

.footer {
    @include adaptiveValue("padding-top", 110, 40, 1110, 767.98, 1);
    padding-bottom: rem(45);
    background-color: $blue;
    &__container {
    }

    &__top {
        // @extend %no-anim;
        // transition: all 0.5s ease 0s;
        // &._animate {
        //     @extend %anim;
        // }
    }
    &__bottom {
        // @extend %no-anim;
        // transition: all 0.5s ease 0s;
        // &._animate {
        //     @extend %anim;
        // }
    }
    &__copy {
        // @extend %no-anim;
        // transition: all 0.5s ease 0s;
        // &._animate {
        //     @extend %anim;
        // }
    }
}

.top-footer {
    display: flex;
    justify-content: space-between;
    margin: 0px rem(-10);
    @include adaptiveValue("margin-bottom", 65, 35, 1110, 767.98, 1);
    @media (max-width: $mobile) {
        @include adaptiveValue("margin-bottom", 30, 15, 1110, 767.98, 1);
        flex-wrap: wrap;
    }
    &__column {
        padding: 0px rem(10);
        flex: 0 1 25%;
        @media (min-width: $mobileSmall) {
            margin-bottom: rem(30);
        }
        &_1 {
            @media (max-width: $tablet) {
                flex: 0 1 20%;
            }
            @media (max-width: $mobile) {
                flex: 0 1 50%;
            }
        }
        @media (max-width: $mobileSmall) {
            flex: 1 1 100%;
        }
        &_2 {
            @media (max-width: $mobile) {
                flex: 0 1 50%;
            }
        }
        @media (max-width: $mobileSmall) {
            flex: 1 1 100%;
        }
        &_3 {
            flex: 1 1 auto;
            @media (max-width: $mobile) {
                flex: 0 1 50%;
            }
        }
        @media (max-width: $mobileSmall) {
            flex: 1 1 100%;
        }
        &_4 {
            flex: 0 1 percent(225, 1100);
            @media (max-width: $mobile) {
                flex: 0 1 50%;
            }
        }
        @media (max-width: $mobileSmall) {
            flex: 1 1 100%;
        }
    }

    &__logo {
        display: flex;

        img {
            max-width: 100%;
        }
        @media (min-width: $mobile) {
            margin-top: rem(30);
        }
        @media (max-width: $mobileSmall) {
            margin-bottom: rem(40);
            img {
                max-width: 100px;
            }
        }
    }

    &__label {
        margin-bottom: rem(15);
        @media (max-width: $mobileSmall) {
            margin-bottom: rem(20);
        }
        &_social {
            margin-bottom: 0;
            @include adaptiveValue("margin-right", 45, 30, 1110, 767.98, 1);
            @media (max-width: $mobileSmall) {
                margin-right: 0;
                margin-bottom: rem(20);
            }
        }
        @media (max-width: $mobileSmall) {
            position: relative;
            padding-right: rem(30);
            @media (max-width: $mobile) {
                &::after {
                    content: "";
                    width: rem(16);
                    height: rem(2);
                    background-color: $white;
                    position: absolute;
                    top: 50%;
                    right: 0;
                    transition: background-color 0.5s ease 0s;
                    transform: translate(0px, -50%);
                }
                &::before {
                    content: "";
                    width: rem(2);
                    height: rem(16);
                    background-color: $white;
                    position: absolute;
                    top: 50%;
                    right: rem(7);
                    transition: height 0.5s ease 0s, background-color 0.5s ease 0s;
                    transform: translate(0px, -50%);
                }
            }
            &._spoller-active {
                &::before {
                    height: 0;
                    background-color: $red;
                }
                &::after {
                    background-color: $red;
                }
            }
        }
    }

    &__list {
        @media (max-width: $mobileSmall) {
            margin-bottom: rem(20);
        }
    }

    &__link {
    }

    &__socials {
        @media (min-width: $mobileSmall) {
            margin-top: rem(25);
            display: flex;
            align-items: center;
        }
        .top-footer__list {
            display: flex;
        }
    }

    &__social-item {
        font-size: rem(24);
        color: $grey2;
        transition: color 0.3s ease 0s;
        &:not(:last-child) {
            margin-right: rem(10);
        }
        @media (any-hover: hover) {
            &:hover {
                color: $red;
            }
        }
        @media (max-width: $mobile) {
            font-size: rem(28);
        }
        @media (max-width: $mobileSmall) {
            font-size: rem(32);
        }
    }
}

.bottom-footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    @include adaptiveValue("margin-bottom", 65, 35, 1110, 767.98, 1);
    @include adaptiveValue("gap", 80, 30, 1110, 767.98, 1);
    @media (max-width: $mobile) {
        grid-template-columns: 1fr;
    }
    &__info {
    }

    &__label {
        margin-bottom: rem(25);
    }

    &__text {
        line-height: 160%;
        color: $grey2;
        margin-bottom: rem(25);
    }

    &__address,
    &__mail {
        align-items: center;
        margin-bottom: rem(25);
        &::before {
            margin-right: rem(18);
            font-size: rem(19);
            flex: 0 0 rem(25);
            display: inline-flex;
            justify-content: center;
            align-items: center;
        }
        @media (max-width: $mobileSmall) {
            font-size: rem(18);
            &::before {
                display: none;
            }
        }
    }

    &__phones {
        display: flex;
        align-items: flex-start;
        @media (min-width: $mobile) {
            margin-bottom: rem(25);
        }
        &::before {
            margin-right: rem(18);
            font-size: rem(23);
            flex: 0 0 rem(25);
            color: $grey2;
            display: inline-flex;
            justify-content: center;
            @media (max-width: $mobileSmall) {
                display: none;
            }
        }
    }

    &__number {
        @media (max-width: $mobileSmall) {
            font-size: rem(18);
        }
    }

    &__mail {
        &::before {
            font-size: rem(13);
        }
    }

    &__form {
    }

    &__row {
        display: flex;
        justify-content: space-between;
        margin: 0px rem(-15) rem(15) rem(-15);
        @media (max-width: $tablet) {
            margin: 0px rem(-10) rem(15) rem(-10);
        }
        @media (max-width: $mobileSmall) {
            flex-wrap: wrap;
            margin: 0;
        }
    }

    &__inp {
        flex: 0 1 50%;
        padding: 0px rem(15);
        @media (max-width: $tablet) {
            padding: 0px rem(10);
        }
        @media (max-width: $mobileSmall) {
            flex: 1 1 100%;
            padding: 0;
            margin-bottom: rem(15);
        }
    }

    &__input {
        min-height: rem(50);
    }

    &__textarea {
        margin-bottom: rem(20);
        min-height: rem(125);
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__btn {
        margin-right: rem(20);
        min-height: rem(50);
        min-width: rem(160);
    }

    &__tip {
        font-weight: 700;
        @extend %text_3;
        color: #e0e0e0;
    }
}

.copy-footer {
    &__body {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        @media (max-width: $mobile) {
            padding-bottom: rem(20);
        }
    }

    &__licence {
        @extend %text_3;
        color: $white;
        margin: 0px rem(5);
        transition: color 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                color: $red;
            }
        }
    }

    &__pay {
        position: absolute;
        bottom: 0;
        width: rem(136);
        right: 0;
        @media (max-width: $mobile) {
            right: 50%;
            transform: translate(50%, 100%);
        }
        img {
            max-width: 100%;
        }
    }
}
