.header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    @media (max-width: $mobile) {
        position: fixed;
    }
    &__wrapper {
    }

    &__top {
        // @extend %no-anim;
        // transition: all 0.5s ease 0s;
    }

    &__middle {
        // @extend %no-anim;
        // transition: all 0.5s ease 0.3s;
    }

    &__bottom {
        background-color: $blue;
        // @extend %no-anim;
        // transition: all 0.5s ease 0.6s;
    }
}

.top-header {
    background-color: $lightWhite;
    &__container {
        min-height: rem(60);
        display: flex;
        align-items: center;
        @media (max-width: $mobile) {
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    &__questions {
        flex: 1 1 auto;
        font-weight: 700;
        @extend %text_1;
        color: $darkGrey;
        margin-right: rem(20);
        display: flex;
        span {
            margin-right: rem(5);
        }
        a {
            color: inherit;
            font-weight: 400;
            transition: color 0.3s ease 0s;
            @media (any-hover: hover) {
                &:hover {
                    color: $red;
                }
            }
        }
        @media (max-width: $mobile) {
            font-size: rem(14);
            margin: 0;
            flex: 1 1 100%;
            justify-content: center;
            padding: rem(10) 0px;
        }
        @media (max-width: $mobileSmall) {
            flex-wrap: wrap;
            text-align: center;
            a {
                flex: 1 1 100%;
                margin-top: rem(10);
            }
        }
    }

    &__gift {
        @media (min-width: $mobileSmall) {
            @include adaptiveValue("margin-right", 100, 40, 1110, 767.98, 1);
        }
    }

    &__gift,
    &__loyality {
        display: flex;
        align-items: center;
        @extend %text_1;
        color: $darkGrey;
        transition: color 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                color: $red;
            }
        }
        &::before {
            margin-right: rem(20);
            font-size: rem(18);
        }
        @media (max-width: $mobile) {
            font-size: rem(14);
            padding: rem(10) 0px;
        }
        @media (max-width: $mobileSmall) {
            flex: 1 1 100%;
            justify-content: center;
        }
    }
}

.middle-header {
    position: relative;
    z-index: 10;
    background-color: $white;
    &__container {
        min-height: rem(120);
        display: flex;
        align-items: center;
        position: relative;
        @media (max-width: $mobile) {
            min-height: rem(80);
        }
    }

    &__logo {
        flex: 0 0 rem(177);
        img {
            max-width: 100%;
        }
        @media (max-width: $mobileSmall) {
            flex: 0 0 rem(140);
        }
    }

    &__search-form {
        flex: 1 1 auto;
        display: flex;
        align-items: center;
        @media (min-width: $mobile) {
            @include adaptiveValue("margin-left", 100, 20, 1110, 767.98, 1);
        }
        @media (max-width: $tablet) {
            justify-content: flex-end;
            &._active {
                .middle-header__input {
                    opacity: 1;
                    visibility: visible;
                    top: 90%;
                }
                .middle-header__btn {
                    opacity: 1;
                    visibility: visible;
                    top: 90%;
                }
                .middle-header__icon-search {
                    color: $red;
                }
            }
        }
    }

    &__input {
        background-color: $lightWhite;
        border-radius: rem(6);
        min-height: rem(40);
        padding: rem(5) rem(75) rem(5) rem(25);
        flex: 0 0 rem(350);
        @media (max-width: $tablet) {
            position: absolute;
            width: calc(100% - rem(30));
            top: 60%;
            left: rem(15);
            transition: opacity 0.3s ease 0s, visibility 0.3s ease 0s, top 0.3s ease 0s;
            opacity: 0;
            box-shadow: 0 0 rem(5) rgba(0, 0, 0, 0.3);
            z-index: 2;
            visibility: hidden;
        }
    }

    &__btn {
        background-color: $red;
        min-height: rem(40);
        justify-content: center;
        align-items: center;
        color: $white;
        flex: 0 0 rem(65);
        border-radius: 0px rem(6) rem(6) 0px;
        margin-left: rem(-65);
        transition: background-color 0.3s ease 0s, opacity 0.3s ease 0s, visibility 0.3s ease 0s, top 0.3s ease 0s;
        @media (max-width: $tablet) {
            transition: all 0.3s ease 0s;
            opacity: 0;
            position: absolute;
            width: rem(65);
            top: 60%;
            right: rem(15);
            z-index: 2;
            visibility: hidden;
        }
        @media (max-width: $mobile) {
            flex: 0 0 rem(40);
            margin: 0;
        }
        &::before {
            font-size: rem(16);
            color: $white;
        }
        @media (any-hover: hover) {
            &:hover {
                background-color: $blue;
            }
        }
    }
    &__icon-search {
        display: none;
        @media (max-width: $tablet) {
            display: block;
            transition: color 0.3s ease 0s;
            font-size: rem(24);
            @include adaptiveValue("margin-right", 40, 20, 1110, 767.98, 1);
        }
    }

    &__cart {
        flex: 0 0 rem(34);
        display: flex;
        position: relative;
        margin-top: rem(10);
        @include adaptiveValue("margin-right", 50, 20, 1110, 767.98, 1);
        @media (any-hover: hover) {
            &:hover {
                .middle-header__cart-number {
                    background-color: $blue;
                }
            }
        }
    }

    &__cart-icon {
        font-size: rem(24);
        color: $darkGrey;
        transition: all 0.3s ease 0s;
    }

    &__cart-number {
        position: absolute;
        right: 0;
        top: -50%;
        transition: background-color 0.3s ease 0s;
        border-radius: 50%;
        width: rem(20);
        height: rem(20);
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $red;
        color: $white;
        @extend %text_1;
        font-weight: 600;
    }

    &__login {
        display: flex;
        flex: 0 0 rem(150);
        align-items: center;
        color: $darkGrey;
        &::after {
            font-size: rem(8);
            @include adaptiveValue("margin-left", 18, 10, 991.98, 479.98, 1);
            transition: transform 0.3s ease 0s;
        }
        @media (any-hover: hover) {
            &:hover {
                &::after {
                    transform: rotate(-180deg);
                }
            }
        }
        @media (max-width: em(575)) {
            flex: 1 1 100%;
            justify-content: center;
            padding: rem(10) 0px;
        }
    }

    &__image-ibg {
        border-radius: 50%;
        overflow: hidden;
        flex: 0 0 rem(40);
        height: rem(40);
        margin-right: rem(18);
    }

    &__name {
        @extend %text_2;
    }

    &__icon {
    }
}

.menu {
    &__wrapper {
        @media (max-width: $mobile) {
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            opacity: 0;
            visibility: hidden;
            transition: visibility 0.5s ease 0s, opacity 0.5s ease 0s;
            overflow: auto;
            .menu-open & {
                visibility: visible;
                opacity: 1;
            }
            &::before {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background-color: $blue;
                opacity: 0.3;
            }
        }
    }

    &__body {
        min-height: rem(80);
        display: flex;
        align-items: center;
        @media (max-width: $mobile) {
            position: absolute;
            width: 100%;
            top: 0;
            left: 0;
            padding: rem(100) rem(15) rem(30) rem(15);
            background-color: $blue;
            overflow: auto;
            flex-wrap: wrap;
            .top-header {
                flex: 1 1 100%;
                margin: 0px rem(-15);
            }
        }
        @media (max-width: $mobileSmall) {
            height: 100%;
        }
    }

    &__list {
        @media (min-width: $mobile) {
            flex: 1 1 100%;
            gap: rem(20);
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        li {
            @media (max-width: $mobile) {
                @include adaptiveValue("margin-bottom", 40, 20, 1110, 767.98, 1);
            }
        }
    }

    &__link {
        @extend %text_2;
        text-transform: uppercase;
        color: $white;
        font-weight: 700;
        transition: color 0.3s ease 0s;
        @media (max-width: $mobile) {
            font-size: rem(16);
        }
        @media (any-hover: hover) {
            &:hover {
                color: $red;
            }
        }
    }
}

.icon-menu {
    display: none;
    @media (max-width: $mobile) {
        display: block;
        position: relative;
        flex: 0 0 rem(30);
        width: rem(30);
        height: rem(18);
        cursor: pointer;
        z-index: 5;
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
        -webkit-tap-highlight-color: transparent;
        span,
        &::before,
        &::after {
            content: "";
            transition: all 0.3s ease 0s;
            right: 0;
            position: absolute;
            width: 100%;
            height: rem(2);
            background-color: $darkGrey;
        }
        &::before {
            top: 0;
        }
        &::after {
            bottom: 0;
        }
        span {
            top: calc(50% - rem(1));
        }
        .menu-open & {
            span {
                width: 0;
            }
            &::before {
                top: calc(50% - rem(1));
                transform: rotate(-45deg);
            }
            &::after {
                bottom: calc(50% - rem(1));
                transform: rotate(45deg);
            }
        }
    }
}
