.main {
    &__container {
    }

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        @extend %no-anim;
        transition: opacity 0.5s ease 1s, visibility 0.5s ease 1s;
    }

    &__info {
    }

    &__stars {
        display: flex;
        gap: rem(3);
        margin-bottom: rem(5);
        span {
            color: #f2994a;
        }
    }

    &__title-inner {
        display: flex;
        align-items: center;
    }

    &__title {
        @extend %h1;
        text-transform: uppercase;
    }

    &__badge {
        background-color: $red;
        min-height: rem(20);
        min-width: rem(70);
        flex: 0 0 rem(70);
        display: flex;
        justify-content: center;
        align-items: center;
        color: $white;
        @extend %text_1;
        border-radius: rem(3);
        margin-left: rem(15);
        @media (max-width: em(575)) {
            position: absolute;
            top: rem(-3);
            right: 0;
        }
    }

    &__hyperlinks {
        @extend %text_3;
        color: $darkGrey;
    }

    &__link {
        &::after {
            content: "+";
            margin-left: rem(4);
        }
        &:first-child {
            &::after {
                margin: 0;
                content: "/";
            }
        }
        &:last-child {
            &::after {
                display: none;
            }
        }
    }

    &__rating {
        border-radius: rem(4);
        flex: 0 0 rem(65);
        background-color: $red;
        padding: rem(6);
        min-height: rem(45);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-left: rem(30);
        position: relative;
        z-index: 25;
        @media (max-width: em(575)) {
            position: absolute;
            bottom: rem(-85);
            right: 0;
            margin: 0;
            max-width: rem(65);
        }
    }

    &__user-rating {
        font-weight: 600;
        font-size: rem(8);
        line-height: math.div(10, 8);
        color: $white;
        margin-bottom: rem(2);
    }

    &__number {
        @extend %text_2;
        color: $white;
        font-weight: 700;
        &_all {
            @extend %text_1;
        }
    }

    &__body {
        margin-top: rem(20);
        display: grid;
        grid-template-columns: 65% 1fr;
        grid-template-rows: 1fr 1fr;
        gap: rem(30);
        grid-template-areas:
            "grid-3 grid-1"
            "grid-3 grid-2";
        @media (max-width: $tablet) {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto auto;
            gap: rem(20);
            grid-template-areas:
                "grid-3 grid-3"
                "grid-1 grid-2";
        }
        @media (max-width: em(575)) {
            grid-template-columns: 1fr;
            gap: 0;
            grid-template-rows: rem(320) auto rem(250);
            grid-template-areas:
                "grid-3"
                "grid-1"
                "grid-2";
        }
    }

    &__slider {
        min-width: 0;
        grid-area: grid-3;
        position: relative;
        @media (any-hover: hover) {
            &:hover {
                .main__swiper {
                    &::after {
                        opacity: 0.5;
                    }
                }
            }
        }
        @media (max-width: em(575)) {
            margin: 0px rem(-15);
        }
        @extend %no-anim;
        transition: opacity 0.5s ease 1.2s, visibility 0.5s ease 1.2s;
    }

    &__swiper {
        position: relative;
        overflow: hidden;
        border-radius: rem(8);
        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: linear-gradient(180deg, rgba(0, 122, 223, 0.4) 0%, rgba(255, 255, 255, 0.1) 100%);
            pointer-events: none;
            z-index: 23;
            transition: opacity 0.3s ease 0s;
        }
        @media (max-width: em(575)) {
            height: 100%;
            border-radius: 0;
        }
    }

    &__wrapper {
    }

    &__slide-ibg {
        min-height: 100%;
        @include adaptiveValue("height", 458, 250, 991.98, 575, 1);
    }

    &__navigation {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 0;
        transform: translate(0px, -50%);
        z-index: 25;
        display: flex;
        justify-content: space-between;
        pointer-events: none;
        padding: 0px rem(15);
        @media (max-width: $mobile) {
            padding: 0px rem(10);
        }
    }

    &__nav {
        width: rem(30);
        height: rem(30);
        display: flex;
        justify-content: center;
        align-items: center;
        pointer-events: all;
        color: rgba(255, 255, 255, 0.8);
        transition: color 0.3s ease 0s;
        @media (max-width: $mobile) {
            font-size: rem(20);
        }
        @media (any-hover: hover) {
            &:hover {
                color: $red;
            }
        }
        &_prev {
            transform: rotate(-180deg);
        }

        &_next {
        }
    }

    &__block-info {
        min-height: rem(210);
        grid-area: grid-1;
        border-radius: rem(8);
        @media (max-width: em(575)) {
            margin: 0px -15px;
            border-radius: 0;
        }
        @extend %no-anim;
        transition: opacity 0.5s ease 1.2s, visibility 0.5s ease 1.2s;
    }

    &__map-ibg {
        grid-area: grid-2;
        border-radius: rem(20);
        height: 100%;
        min-height: rem(210);
        @media (max-width: em(575)) {
            border-radius: 0;
            margin: rem(20) rem(-15) 0px rem(-15);
        }
        @extend %no-anim;
        transition: opacity 0.5s ease 1.2s, visibility 0.5s ease 1.2s;
    }
}

.block-info-main {
    background-color: $blue;
    padding: rem(25);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    @media (max-width: $mobile) {
        padding: rem(20) rem(15);
    }

    &__top {
        display: flex;
    }

    &__price {
        display: flex;
        flex-wrap: wrap;
        font-family: "Nunito";
        color: $white;
        font-weight: 800;
        font-size: rem(24);
        line-height: math.div(30, 24);
        flex: 1 1 100%;
        span {
            flex: 1 1 100%;
            font-size: rem(12);
            line-height: math.div(16, 12);
        }
    }

    &__features {
        margin-top: rem(4);
        flex: 0 0 rem(80);
        font-family: "Nunito";
        font-size: rem(12);
        line-height: math.div(16, 12);
        color: $white;
    }

    &__feature {
        &:not(:last-child) {
            margin-bottom: rem(8);
        }
        span {
            display: flex;
            align-items: center;
            justify-content: space-between;
            &::before {
                font-size: rem(14);
            }
        }
    }

    &__middle {
        font-family: "Nunito";
        font-weight: 600;
        font-size: rem(18);
        line-height: math.div(25, 18);
        color: $white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        span {
            display: flex;
            gap: rem(8);
            align-items: center;
            &::before {
                font-size: rem(14);
            }
        }
    }

    &__btn {
        margin-top: rem(10);
        min-height: rem(45);
    }
}

//========================================================================================================================================================

.package {
    &__container {
        @extend %no-anim;
        &._watcher-view {
            @extend %anim;
        }
    }

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: rem(40);
        @media (max-width: $tablet) {
            overflow: auto;
        }
    }

    &__tab-link {
        font-weight: 700;
        color: $darkGrey;
        @extend %text_2;
        position: relative;
        padding-bottom: rem(18);
        transition: color 0.3s ease 0s;
        &::after {
            content: "";
            position: absolute;
            width: 0;
            height: rem(4);
            bottom: 0;
            left: 0;
            transition: width 0.3s ease 0s;
            background-color: $red;
        }
        @media (any-hover: hover) {
            &:hover {
                color: $red;
                &::after {
                    width: 100%;
                }
            }
        }
        @media (max-width: $tablet) {
            white-space: nowrap;
            &:not(:last-child) {
                margin-right: rem(30);
            }
        }
        &._tab-active {
            color: $red;
            &::after {
                width: 100%;
            }
        }
    }

    &__title {
        @extend %h1;
        text-transform: uppercase;
        margin-bottom: rem(30);
    }

    &__body {
        display: flex;
        flex-wrap: wrap;
        margin: 0px rem(-16);
        @media (max-width: $tablet) {
            margin: 0px rem(-10);
        }
    }

    &__column {
    }
}

.column-package {
    flex: 0 1 50%;
    margin-bottom: rem(32);
    padding: 0px rem(16);
    @media (max-width: $tablet) {
        padding: 0px rem(10);
        margin-bottom: rem(20);
    }
    @media (max-width: em(575)) {
        flex: 1 1 100%;
    }

    &_big {
        flex: 1 1 100%;
        .column-package__column {
            flex: 0 1 33.333%;
            @media (max-width: $mobile) {
                flex: 1 1 100%;
            }
        }
    }

    &__body {
        background-color: $white;
        border-radius: rem(4) rem(4) rem(8) rem(8);
        overflow: hidden;
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    &__top {
        background-color: $blue;
        padding: rem(16) rem(24);
    }

    &__title {
        @extend %text_2;
        color: $white;
        font-weight: 700;
    }

    &__inner {
        flex: 1 1 auto;
        padding: rem(25);
        display: flex;
        flex-wrap: wrap;
        margin: 0px rem(-20);
        &_big {
            border-top: rem(1) dashed #e0e0e0;
            @media (min-width: $tablet) {
                padding: rem(30) rem(25) rem(60) rem(25);
            }
        }
        &_big-top {
            @media (min-width: $tablet) {
                padding: rem(40) rem(25);
            }
        }
        @media (max-width: $tablet) {
            margin: 0px rem(-10);
        }
    }

    &__column {
        flex: 0 1 50%;
        padding: 0px rem(20);
        @media (max-width: $tablet) {
            flex: 1 1 100%;
            padding: 0px rem(10);
            &:not(:last-child) {
                margin-bottom: rem(20);
            }
        }
        @media (max-width: $mobile) {
            &:not(:last-child) {
                margin: 0;
            }
        }
    }
    &__wrapper {
        padding-bottom: rem(10);
    }

    &__item {
        display: flex;
        @extend %text_3;
        margin-bottom: rem(20);
        &::before {
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 0 0 rem(18);
            font-size: rem(9);
            width: rem(18);
            height: rem(18);
            background-color: $blue;
            border-radius: 50%;
            color: $white;
            margin: rem(-1) rem(20) 0px 0px;
            @media (max-width: $mobile) {
                margin: 0px rem(10) 0px 0px;
            }
        }
        &._icon-schedule {
            &::before {
                background-color: transparent;
                font-size: rem(18);
                color: $blue;
            }
        }
    }

    &__tip {
        flex: 1 1 100%;
        @extend %text_3;
        transform: translate(rem(35), rem(20));
        @media (min-width: $tablet) {
            padding: 0px rem(20);
        }
        @media (max-width: em(575)) {
            transform: translate(rem(35), 0px);
        }
    }

    &__subtitle {
        position: relative;
        font-weight: 600;
        font-size: rem(13);
        line-height: math.div(16, 13);
        color: $red;
        margin-bottom: rem(20);
        padding-right: rem(30);
        @media (max-width: $mobile) {
            &::after {
                content: "";
                width: rem(16);
                height: rem(2);
                background-color: $blue;
                position: absolute;
                top: 50%;
                right: 0;
                transition: background-color 0.3s ease 0s;
                transform: translate(0px, -50%);
            }
            &::before {
                content: "";
                width: rem(2);
                height: rem(16);
                background-color: $blue;
                position: absolute;
                top: 50%;
                right: rem(7);
                transition: background-color 0.3s ease 0s, height 0.3s ease 0s;
                transform: translate(0px, -50%);
            }
        }
        &._spoller-active {
            &::before {
                height: 0;
                background-color: $red;
            }
            &::after {
                background-color: $red;
            }
        }
    }
}

//========================================================================================================================================================

.products {
    &__container {
    }

    &__title {
        font-weight: 700;
        line-height: math.div(45, 36);
        @include adaptiveValue("font-size", 36, 24, 1110, 767.98, 1);
        text-align: center;
        text-transform: uppercase;
        @include adaptiveValue("margin-bottom", 65, 25, 1110, 767.98, 1);
        @extend %no-anim;
        &._watcher-view {
            @extend %anim;
        }
    }

    &__body {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: repeat(3, 1fr);
        @include adaptiveValue("gap", 30, 20, 1110, 767.98, 1);
        grid-template-areas:
            "g1 g1 g2"
            "g3 g4 g5";
        @media (max-width: $tablet) {
            grid-template-columns: repeat(2, 1fr);
            grid-template-areas:
                "g1 g1"
                "g2 g3"
                "g4 g5";
        }
        @media (max-width: em(575)) {
            display: block;
        }
    }

    &__item {
        position: relative;
        overflow: hidden;
        background-color: $blue;
        border-radius: rem(8);
        &.g1 {
            grid-area: g1;
        }
        &.g2 {
            grid-area: g2;
        }
        &.g3 {
            grid-area: g3;
        }
        &.g4 {
            grid-area: g4;
        }
        &.g5 {
            grid-area: g5;
        }
        &:first-child {
            @media (min-width: em(575)) {
                display: flex;
                height: 100%;
                justify-content: space-between;
            }
            .products__image-ibg {
                @media (min-width: em(575)) {
                    flex: 0 1 50%;
                }
            }
            .products__inner {
                @media (min-width: $mobile) {
                    padding: rem(46) rem(20) rem(30) rem(46);
                }
                @media (min-width: em(575)) {
                    flex: 0 1 50%;
                }
            }
            .products__stars {
                display: flex;
            }
            .products__text {
                display: block;
            }
            .products__features {
                @include adaptiveValue("margin-bottom", 55, 35, 1110, 767.98, 1);
            }
            .products__ribbon {
                min-height: rem(30);
                min-width: rem(95);
                font-weight: 600;
                @extend %text_3;
            }
        }
        &:not(:first-child) {
            display: flex;
            flex-direction: column;
            height: 100%;
            .products__inner {
                flex: 1 1 auto;
            }
        }
        @media (max-width: em(575)) {
            &:not(:last-child) {
                margin-bottom: rem(20);
            }
        }
        @extend %no-anim;
        &._watcher-view {
            @extend %anim;
        }
    }

    &__image-ibg {
        display: flex;
        padding-bottom: rem(250);
        overflow: hidden;
        img {
            transition: transform 0.3s ease 0s;
        }
        @media (any-hover: hover) {
            &:hover {
                img {
                    transform: scale(1.03);
                }
            }
        }
    }

    &__inner {
        padding: rem(30) rem(20) rem(30) rem(30);
        display: flex;
        flex-direction: column;
        height: 100%;
        @media (max-width: $mobile) {
            padding: rem(20);
        }
    }
    &__stars {
        display: none;
        align-items: center;
        gap: rem(3);
        margin-bottom: rem(5);
        span {
            color: #f2994a;
            font-size: rem(8);
        }
    }

    &__subtitle {
        flex: 1 1 auto;
        display: inline-flex;
        font-weight: 700;
        font-size: rem(18);
        line-height: math.div(23, 18);
        color: $white;
        @include adaptiveValue("margin-bottom", 25, 15, 1110, 767.98, 1);
        transition: color 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                color: $red;
            }
        }
    }
    &__text {
        display: none;
        line-height: 160%;
        color: $white;
        @include adaptiveValue("margin-bottom", 40, 20, 1110, 767.98, 1);
    }

    &__features {
        @extend %text_3;
        color: $white;
        @include adaptiveValue("margin-bottom", 40, 35, 1110, 767.98, 1);
    }

    &__feature {
        display: flex;
        align-items: center;
        &:not(:last-child) {
            margin-bottom: rem(11);
        }
        &::before {
            flex: 0 0 rem(14);
            font-size: rem(14);
            margin-right: rem(15);
        }
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__prices {
        position: relative;
    }

    &__price {
        font-weight: 700;
        font-size: rem(24);
        line-height: math.div(30, 24);
        color: $white;
        &_old {
            position: absolute;
            top: rem(-5);
            transform: translate(0px, -100%);
            left: 0;
            font-size: rem(14);
            line-height: math.div(18, 14);
            font-weight: 400;
            text-decoration-line: line-through;
        }
    }

    &__button {
        min-width: rem(120);
        min-height: rem(40);
    }

    &__ribbon {
        position: absolute;
        border-radius: 0px rem(4) rem(4) 0px;
        background-color: $red;
        padding: rem(4) rem(9);
        top: rem(26);
        left: 0px;
        font-weight: 600;
        font-size: rem(8);
        line-height: math.div(10, 8);
        color: $white;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: rem(30);
        min-width: rem(95);
        font-weight: 600;
        font-size: rem(12);
        line-height: math.div(15, 12);
    }
}

//========================================================================================================================================================

.testi {
    &__container {
    }

    &__title {
        font-weight: 700;
        @include adaptiveValue("font-size", 36, 24, 1110, 767.98, 1);
        line-height: math.div(45, 36);
        text-align: center;
        text-transform: uppercase;
        @include adaptiveValue("margin-bottom", 115, 60, 1110, 767.98, 1);
        @extend %no-anim;
        &._watcher-view {
            @extend %anim;
        }
    }

    &__body {
        position: relative;
        @media (max-width: $mobile) {
            margin: 0px rem(-15);
        }
    }

    &__slider {
        @extend %no-anim;
        overflow: visible !important;
        &._watcher-view {
            @extend %anim;
        }
    }

    &__slide {
        display: flex;
        justify-content: center;
        transition: opacity 0.8s ease 0s, visibility 0.8s ease 0s;
        &.swiper-slide {
            opacity: 0;
            visibility: hidden;
        }
        &.swiper-slide-active {
            opacity: 1;
            visibility: visible;
        }
    }

    &__inner {
        text-align: center;
        position: relative;
        z-index: 2;
        background-color: $white;
        padding: 0px rem(95) rem(30) rem(95);
        flex: 0 1 rem(730);
        @media (max-width: $tablet) {
            flex: 1 1 100%;
            padding: 0px rem(45) rem(15) rem(45);
        }
        @media (min-width: $mobile) {
            border-radius: rem(8);
        }
    }

    &__image-ibg {
        height: rem(90);
        width: rem(90);
        overflow: hidden;
        border-radius: 50%;
        margin: 0 auto;
        transform: translate(0, -50%);
    }

    &__wrapper {
        @media (min-width: $tablet) {
            margin-top: rem(-35);
        }
    }

    &__name {
        font-weight: 700;
        @extend %text_3;
        color: $red;
        margin-bottom: rem(10);
    }

    &__date {
        font-size: rem(10);
        line-height: math.div(13, 10);
        color: $black;
        margin-bottom: rem(4);
    }

    &__stars {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: rem(3);
        margin-bottom: rem(30);
        span {
            color: #f2994a;
        }
    }

    &__text {
        font-size: rem(12);
        line-height: 160%;
        text-align: justify;
    }

    &__navigation {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        transform: translate(0px, -50%);
        padding: 0px rem(18);
        @media (max-width: $tablet) {
            padding: 0px rem(5);
        }
        @media (max-width: $mobile) {
            padding: 0px;
        }
    }

    &__nav {
        width: rem(30);
        height: rem(30);
        display: flex;
        justify-content: center;
        align-items: center;
        color: #828282;
        font-size: rem(17);
        transition: color 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                color: $red;
            }
        }

        &_prev {
            transform: rotate(-180deg);
        }

        &_next {
        }
    }

    &__quotes {
        z-index: 1;
        position: absolute;
        color: hsla(0, 0%, 95%, 0.4);
        font-size: rem(48);
        &_open {
            top: rem(12);
            @include adaptiveValue("left", 65, 20, 1110, 767.98, 1);
        }

        &_close {
            bottom: rem(110);
            right: rem(60);
            @include adaptiveValue("right", 60, 20, 1110, 767.98, 1);
            @include adaptiveValue("bottom", 110, 20, 1110, 767.98, 1);
        }
    }
}

//========================================================================================================================================================

.newsletter {
    position: relative;
    overflow: hidden;
    &__container {
        position: relative;
        z-index: 2;
    }

    &__body {
        @include adaptiveValue("padding-top", 100, 40, 1110, 767.98, 1);
        @include adaptiveValue("padding-bottom", 90, 40, 1110, 767.98, 1);
        @media (min-width: $mobile) {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        @extend %no-anim;
        &._watcher-view {
            @extend %anim;
        }
    }

    &__title {
        font-weight: 300;
        font-size: rem(24);
        line-height: math.div(30, 24);
        color: $white;
        span {
            font-weight: 600;
            font-size: rem(36);
            line-height: math.div(45, 36);
            text-transform: uppercase;
            display: block;
        }
        @media (min-width: $mobile) {
            @include adaptiveValue("margin-right", 140, 60, 1110, 767.98, 1);
        }
        @media (max-width: $mobile) {
            margin-bottom: rem(20);
        }
    }

    &__form {
        display: flex;
        align-items: center;
        position: relative;
        .form__error {
            position: absolute;
            margin-top: rem(5);
            top: 100%;
            left: 0;
            @extend %text_2;
            color: $red;
        }
    }

    &__input {
        padding: rem(5) rem(20) rem(5) rem(35);
        min-height: rem(55);
        flex: 0 1 rem(285);
        font-weight: 300;
        @extend %text_2;
        color: $grey2;
        border-radius: rem(4) 0px 0px rem(4);
        &:focus-visible {
            outline-offset: rem(-1);
            color: $darkGrey;
            outline: white solid rem(1);
        }
        @media (min-width: $mobile) {
            min-width: rem(285);
        }
        @media (max-width: $mobile) {
            flex: 1 1 auto;
        }
    }

    &__btn {
        flex: 0 1 rem(65);
        min-height: rem(55);
        border-radius: 0px rem(4) rem(4) 0px;
    }

    &__image-ibg {
        position: absolute;
        width: 100%;
        height: 200%;
        top: -50%;
        left: 0;
        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: rgba(10, 34, 61, 0.8);
        }
        @extend %no-anim;
        &._watcher-view {
            @extend %anim;
        }
    }
}

//========================================================================================================================================================

.popular {
    &__container {
    }

    &__title {
        @extend %h1;
        text-transform: uppercase;
        color: $black;
        @include adaptiveValue("margin-bottom", 60, 20, 1110, 767.98, 1);
        @extend %no-anim;
        &._watcher-view {
            @extend %anim;
        }
    }

    &__body {
        display: grid;
        @include adaptiveValue("gap", 30, 20, 1110, 767.98, 1);
        grid-template-columns: repeat(4, 1fr);
        @media (max-width: $mobile) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width: $mobileSmall) {
            grid-template-columns: 1fr;
        }
    }

    &__inner {
        position: relative;
        overflow: hidden;
        border-radius: rem(6);
        display: flex;
        flex-direction: column;
        @media (any-hover: hover) {
            &:hover {
                .popular__image-ibg {
                    img {
                        transform: scale(1.03);
                    }
                }
            }
        }
        @extend %no-anim;
        &._watcher-view {
            @extend %anim;
        }
    }

    &__content {
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        flex: 1 1 auto;
        @media (min-width: $mobile) {
            @include adaptiveValue("min-height", 255, 200, 1110, 767.98, 1);
            @include adaptiveValue("padding", 25, 20, 1110, 767.98, 1);
        }
        @media (max-width: $mobile) {
            padding: rem(25);
            min-height: rem(250);
        }
    }

    &__subtitle {
        font-weight: 700;
        margin-bottom: rem(20);
        font-size: rem(16);
        line-height: math.div(20, 16);
        color: $white;
        transition: color 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                color: $red;
            }
        }
    }

    &__button {
        max-width: rem(100);
        min-height: rem(30);
        @extend %text_3;
        @media (max-width: $mobileSmall) {
            max-width: none;
        }
    }

    &__image-ibg {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        img {
            transition: transform 0.3s ease 0s;
        }
        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: linear-gradient(179.83deg, rgba(196, 196, 196, 0) 35.34%, #0a223d 99.85%);
        }
    }
}
